/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

/* General elements */
body {
    margin: 0px;
    font-family: roboto, Verdana, sans-serif;
    background-color: white;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

button {
    width: 100px;
    height: 28px;
    border-radius: 6px;
    border-style: none;
    font-weight: 500;
    padding: 0;
}

/* Hero section */
.hero {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 60px;
    padding: 100px 0;
}

.hero-main p,
.header a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text {
    flex: 1;
}

.hero-img {
    background-color: grey;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero button {
    background-color: #3882F6;
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

/* Info section */
