/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

/* General elements */
body {
    margin: 0px;
    font-family: roboto, Verdana, sans-serif;
    background-color: white;
}

.container {
    width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
}

button {
    width: 100px;
    height: 28px;
    border-radius: 6px;
    border-style: none;
    font-weight: 500;
    padding: 0;
    background-color: #3882F6;
    color: white;
}

/* Hero section */
.hero {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 60px;
    padding: 80px 0;
}

.hero-main p,
.header a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text {
    flex: 1;
}

.hero-img {
    background-color: grey;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

/* Info section */
h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900px;
    text-align: center;
    margin: 50px 0px;
}

.info-section {
    margin: 0px 60px 100px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.info-img {
    border: #3882F6;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    aspect-ratio: 1/1;
}    

.info-text {
    color: rgb(78, 78, 78);
    text-align: center;
    padding-top: 8px;
}

/* quote section */
.quote-section {
    background-color: #E5E7EB;
}

.quote-section .container {
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.person {
    font-size: 25px;
    font-weight: bold;
    text-align: end;
    padding-right: 20px;
}

/* Action section */
.action {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    margin: 100px auto;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action button {
    border-color: white;
    border-style: solid;
}

.action h3,
.action p {
    margin: 0;
}

.action p {
    font-weight: 100;
}